<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Flask tutorial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img style="max-width:120px; margin-top: -7px;" src="{{ url_for('static', filename='images/darth.jpeg') }}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="/dashboard">
                        <button type="button" class="btn btn-dark">Feel the power of the Dark Side</button>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" style="margin-top: -7px;">
                    <!-- Button trigger modal -->
                    {% if session.get('logged_in', False) %}
                        <a role="presentation" class="text-dark" href="/logout/">
                            Logout
                        </a>
                    {% else %}
                        <a role="presentation" class="text-dark" href="/login/"
                           style="margin-right: 10px; border-right: 1px dashed #333;">
                            Login
                        </a>
                        <a role="presentation" class="text-dark" href="/register/">
                            Join the Dark Side
                        </a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </nav>
</header>


<body>
<div class="container" style="min-height:100%; min-width:100%">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for m in messages %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ m }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ url_for('static', filename="js/bootstrap.min.js") }}"></script>
</body>

</html>